<!DOCTYPE html>
<html>
  <head>
    <title>Payment Portal</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <div class="description">
          <h3>Batteries</h3>
          <h5>₹200.00</h5>
        </div>
      </div>

      <form action="/checkout" method="post">
      <input type="submit" value="Proceed to Checkout">
      </form>
    </section>
  </body>
</html>
